/* color variables */
/* fonts variables */
a {
  text-decoration: none;
}

a:hover {
  transition-duration: 0.5s;
}

html {
  scroll-behavior: smooth;
  /* The scroll-behavior property is not inherited, it is applied to scrollable blocks */
}

body {
  font: 400 16px "Montserrat", serif;
  background-color: #FFFFFF;
  color: #181C29;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
  line-height: 24px;
}

h1 {
  font: 600 normal 32px/1.5 "Montserrat", serif;
  color: #FFFFFF;
  letter-spacing: 5.76px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

h2 {
  font: 600 normal 24px/1.52 "Montserrat", serif;
  color: #FFFFFF;
  letter-spacing: 3.84px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
  margin: 0;
}

h3 {
  font: normal 600 16px/1.52 "Montserrat", serif;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

h4 {
  font: 600 normal 12px/1.3 "Montserrat", serif;
  color: #FFFFFF;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

h5 {
  font: 400 normal 15px/1.3 "Montserrat", serif;
  letter-spacing: 0.06em;
  color: #181C29;
  text-align: center;
  padding: 0;
  margin: 0;
}

.caption {
  font: 400 normal 24px/1 "Allura", cursive;
  color: #FFFFFF;
  letter-spacing: 1.2px;
  text-align: center;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.wrapper {
  padding: 0 8px;
}

/* block Header */
.header {
  background-color: #FFFFFF;
}

.header__top {
  display: flex;
  align-items: center;
  width: 1276px;
  margin: 0 auto;
}

.header__top .logo {
  flex-grow: 1;
  padding-top: 3px;
}

.header__top .logo__title {
  text-transform: uppercase;
}

.header__top .logo__title a {
  font: 600 12px/1.3 "Montserrat", serif;
  letter-spacing: 0.6px;
  color: #181C29;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 141px;
  height: 40px;
}

.header__top .logo__title img {
  margin-right: 10px;
}

.logo {
  color: #181C29;
  font: 34px "Allura", cursive;
  letter-spacing: 0.06px;
  padding-bottom: 7px;
}

.header ul nav {
  display: flex;
}

.header__menu nav ul {
  display: flex;
  gap: 9px;
  padding: 7px 0;
  margin: 0;
}

.header__menu nav ul a {
  font: 600 12px "Montserrat", serif;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 0.6px;
  border-radius: 12px;
  color: #181C29;
  display: block;
  padding: 12px 20px;
}

.header__menu nav ul a:hover {
  color: #FF4646;
  background-color: rgba(255, 70, 70, 0.1);
}

.header__menu nav ul li.active a, .header__menu nav ul li.active a:hover {
  cursor: default;
}

.header__menu nav ul li {
  list-style-type: none;
  margin-left: 24px;
  padding: 2px 0 0 0;
  margin: 0;
}

.container-bg {
  background: #FF4646 url(assets/bg-snow.png);
  border-radius: 20px 20px 20px 20px;
  width: 1440px;
  margin: 0 auto;
}

/* block Hero */
section.hero {
  padding: 60px 0;
  background: url(assets/bg-ball.png) no-repeat center center;
  background-size: auto 604px;
}

.container__hero {
  width: 476px;
  text-align: center;
  margin: 0 auto;
  padding: 60px 0 51px 0;
}

.container__hero h1 {
  padding: 4px 0;
}

.hero__button {
  padding: 8px 0 10px 0;
  width: 232px;
  margin: 0 auto;
}

.hero__button a {
  font: 600 12px/1.3 "Montserrat", serif;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  background: #181C29;
  padding: 20px 20px;
  border-radius: 20px;
  color: #FFFFFF;
  display: block;
}

.hero__button a:hover {
  background: #FFFFFF;
  color: #181C29;
}

.container__hero .caption {
  color: #FFFFFF;
  padding: 0 0 10px 0;
  margin: 0;
}

/* block About */
section.about {
  padding: 60px 0;
}

.block__about {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 1276px;
  background: #FFFFFF;
  border-radius: 20px;
}

.block__about__intro {
  flex-grow: 1;
  padding: 0 60px;
}

.block__about__decor {
  flex-grow: 0;
  height: 528px;
  width: 638px;
  background: url(assets/santa.png);
  border-radius: 20px;
}

.block__about__intro__container {
  width: 426px;
  text-align: left;
}

.block__about__intro__container .caption {
  color: #FF4646;
}

.block__about__intro__container .caption, .block__about__intro__container h2 {
  text-align: left;
}

.block__about h2 {
  color: #181C29;
}

/* block Slider */
section.slider {
  width: 1440px;
  padding: 60px 0;
  overflow: hidden;
}

.slider .caption, .slider h2 {
  color: #FFFFFF;
}

section.slider h2 {
  padding-top: 10px;
}

.block__slider {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 1360px;
  margin-left: auto;
  margin-right: 0px;
}

.block__slider div img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.block__slider div {
  color: #FFFFFF;
  font: normal 600 80px/1 "Montserrat", serif;
  text-transform: uppercase;
}

.slider__containter__navigation {
  display: flex;
  width: 1276px;
  margin: 0 auto;
}

.slider__containter__navigation__space {
  flex-grow: 1;
}

.slider__navigation {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 10px;
}

.slider__navigation a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 55px;
  height: 55px;
  border: 1px solid #FFFFFF;
}

.slider__navigation a svg {
  color: #FFFFFF;
}

.slider__navigation a:hover {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.slider__navigation a:hover svg {
  color: #FF4646;
}

.slider__navigation a.active, .slider__navigation a.active:hover {
  background-color: #FF4646;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.slider__navigation a.active svg, .slider__navigation a.active:hover svg {
  color: #FFFFFF;
  opacity: 0.4;
}

/* block BEST GIFTS */
.best-gifts {
  padding: 60px 0 60px 0;
}

.block__best-gifts {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  width: 1276px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.block__best-gifts div.item {
  background-color: #ECF3F8;
  width: 310px;
  height: 342px;
  border-radius: 20px;
}

.block__best-gifts div.item img {
  width: 310px;
  height: 230px;
  margin-bottom: -4px;
}

.block__best-gifts div.item div {
  text-align: left;
}

.block__best-gifts div.item a {
  color: #181C29;
}

.block__best-gifts div.item a:hover {
  color: #FF4646;
}

.block__best-gifts div.item div {
  display: flex;
  background: #FFFFFF;
  flex-direction: column;
  border-radius: 20px;
  width: 310px;
  height: 112px;
}

.block__best-gifts div.item div h4 {
  padding: 18px 20px 9px 20px;
}

.block__best-gifts div.item div h3 {
  padding: 0px 20px 0 20px;
}

.tag-purple {
  color: #4361FF;
}

.tag-green {
  color: #06A44F;
}

.tag-pink {
  color: #FF43F7;
}

.best-gifts h2 {
  padding: 12px 0 20px 0;
}

/* block CTA */
.cta {
  margin-top: 0px;
  padding: 180px 0 180px 0;
  background: url(assets/bg-forest.png) no-repeat top center;
  background-size: 1440px auto;
}

.cta__block {
  width: 476px;
  margin: 0 auto;
}

.cta__block h2 {
  padding: 0 0 12px 0;
}

.cta__block .hero__button {
  padding: 8px 0 17px 0;
  width: 232px;
  margin: 0 auto;
}

.cta__block .hero__button a {
  font: 600 12px/1.3 "Montserrat", serif;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  background: #181C29;
  padding: 20px 30px;
  border-radius: 20px;
  color: #FFFFFF;
  display: block;
}

.cta__block .hero__button a:hover {
  background: #FFFFFF;
  color: #181C29;
}

.cta__time__count {
  width: 322px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  margin: 0 auto;
  padding: 10px 12px;
}

.cta__time__count__container {
  display: flex;
  align-items: center;
}

.cta__time__count__container div {
  text-align: center;
  color: #FFFFFF;
  width: 80px;
}

.cta__time__count__container div.separator {
  width: 1px;
}

.cta__time__count__container div.separator span {
  display: block;
  background: var(--Static-White-40, rgba(255, 255, 255, 0.4));
  width: 1px;
  height: 20px;
}

.cta__time__count__container div h3 {
  font-size: 24px;
}

.cta__block .caption {
  padding-bottom: 10px;
}

/* block FOOTER */
.footer {
  padding: 60px 0;
  text-align: center;
}

.footer__block {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 1276px;
  margin: 0 auto;
}

.footer__block div {
  background-color: #ECF3F8;
  text-align: center;
  width: 417px;
  padding: 20px;
  border-radius: 20px;
}

.footer__block div p {
  font: normal 600 24px/1.52 Montserrat;
  letter-spacing: 3.84px;
  text-transform: uppercase;
  padding: 6px 0 12px 0;
  margin: 0;
}

.footer .caption {
  color: #181C29;
}

.footer__block div p a {
  color: #181C29;
}

.footer__block div p a:hover {
  color: #FF4646;
}

.footer .social {
  display: flex;
  align-items: center;
  gap: 28px;
  width: 180px;
  margin: 66px auto 20px auto;
}

.footer .copyright {
  padding: 0px 0 10px 0;
}

/* INNER GIFTS */
.header__menu nav ul li.now a, .header__menu nav ul li.now a:hover {
  color: #FF4646;
  background-color: rgba(255, 70, 70, 0.1);
}

.container-inner {
  background: url(assets/bg-garland.png) no-repeat top center;
  background-size: 1440px auto;
}

.best-gifts h1 {
  display: block;
  margin: 0 auto;
  width: 426px;
  text-align: center;
  padding: 0 0 10px 0;
}

.gifts__menu {
  padding-bottom: 16px;
}

.gifts__menu nav ul {
  display: flex;
  gap: 9px;
  padding: 7px 0;
  margin: 0 auto;
  width: 480px;
}

.gifts__menu nav ul a {
  font: 600 12px/1.3 "Montserrat", serif;
  text-transform: uppercase;
  letter-spacing: 5%;
  border-radius: 12px;
  color: #FFFFFF;
  display: block;
  padding: 12px 20px;
}

.gifts__menu nav ul a:hover {
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.2);
}

.gifts__menu nav ul li {
  list-style-type: none;
  padding: 2px 0 0 0;
  margin: 0;
}

.gifts__menu nav ul li.now a {
  background: rgba(255, 255, 255, 0.2);
}

/*# sourceMappingURL=style.css.map */
